* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Jost', sans-serif;
    background-color: #F2DDC6;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100dvh;
    font-family: 'Jost',sans-serif;
    color: #4a1301;
    font-weight: bold;
}

.main-content {
    flex: 1;
    padding: 40px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
    width: fit-content;
    
}
h2{
    margin-bottom: 10px;
}

.form-row {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
    flex-wrap: wrap;
    align-items: center;
    
}

.form-group {
    flex: 1 1 12.5rem;
    display: flex;
    flex-direction: column;
    min-width: 0;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 16px;
    color: #4a1301;
}

input,
select {
    width: fit-content;
    padding: 0.525rem;
    color: #4a1301;
    border: 2px solid #e0cab4;
    border-radius: 10px;
    font-size: 16px;
    background-color: #fff;
    height: 40px;
    font-family: 'Open Sans',sans-serif;
}



input::placeholder {
    color: #4a1301;
    opacity: 0.7;
}

/* Стили для поля "Пол" */
.gender-input-container {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 5px;
    height: 40px;
    
    /* чтобы совпадало с высотой select */
}

.gender-label {
    display: flex;
    align-items: center;
    gap: 5px;
    cursor: pointer;
    font-size: 16px;
    color: #4a1301;
}

.gender-input {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 10px;
    height: 10px;
    border: 2px solid #e0cab4;
    border-radius: 50%;
    position: relative;
    cursor: pointer;
}

.gender-input:checked::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 10px;
    height: 10px;
    background-color: #4a1301;
    border-radius: 50%;
}

.actions {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 10px;
}

.btn-submit {
    padding: 10px;
    background-color: #4a1301;
    color: #F2DDC6;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.2s;
}

.btn-submit:hover {
    background-color: #F2DDC6;
    color: #4a1301;
}

.link-registr {
    text-align: center;
    color: #4a1301;
    text-decoration: none;
    font-size: 16px;
}

.link-registr:hover {
    text-decoration: underline;
}


